/* Main Styles */
body {

}

p {

}

h1 {

}

h2 {

}

/* Jumbotron */
.jumbotron, .jumbotron-fluid{
background: url("../images/banner.png");
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}

.jumbotron img {
    min-width: 500px;
    max-width: 60%;
    margin-top: -20px;
    margin-bottom: -50px;
}

/* Container/Content Styles */
.wrapper {
    max-width: 960px;
    margin: auto;
}

.row {
    margin-top: 40px;
}

.like-table { 
    display: table;
    margin: auto;    
}

.like-table-row { 
    display: table-row;
}

.like-table-cell { 
    display: table-cell;
    padding-right: 10px; 
}

#get-results {
    border-style: solid;
    border-block-end-width: 3px;
    border-color: #ffb63d;
    background-color: #ffcd3f;
}

#get-results:hover {
    background-color: #ffb63d;
}

#filterButtons {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 0px;
    border-style: solid;
    border-block-end-width: 3px;
    border-color: #0056a1;
    background-color: #0079b9;
    text-align: center;
}

/* Google Maps Styles */
#map {
    height: 400px;
    width: 100%;
   }